#!/usr/bin/make -f

%:
	dh $@ --builddirectory=build

override_dh_auto_configure:
	CC=gcc-4.8 CXX=g++-4.8 dh_auto_configure -- \
	   -DCMAKE_BUILD_TYPE=Release \
           -DCMAKE_CXX_FLAGS="-std=c++11"
